__pycache__/
*.py[cod]
*$py.class

.DS_Store

.pytest_cache/
.coverage
.coverage.*
.mypy_cache/
.ruff_cache/
.tox/
.nox/

.venv/
venv/
env/

dist/
build/
site/
*.egg-info/
.eggs/

logs/*.log
logs/*.log.*
